
<% if logged_in?%>
<strong></Bold>Hello <%= current_user.fname%></strong></br></br>

<div class="btn-group float_btn" role="group">
<p><%= link_to 'Add Books', book_path, class: "btn btn-xlg btn-info" %><p/>
</div>

<div class="btn-group float_btn" role="group">
<p><%= link_to 'Log out', logout_path, class: "btn btn-xlg btn-info", method: :delete %><p/>
</div>

<div class="btn-group float_btn" role="group">
<p><%= link_to 'Edit Profile', edit_admin_path(@user) , class: "btn btn-xlg btn-info"%></p>
</div>


<%else%>
<% redirect_to login_path%>
<%  end%>