<% if logged_in?%>
<p><%= link_to 'Log out', logout_path, method: :delete %><p/>
<p><%= link_to 'Edit Profile', edit_admin_path(@user)%></p>
Hello <%= current_user.fname%>
<%else%>
<% redirect_to login_path%>
<%  end%>