
<div class="center jumbotron">
    
<h1>Welcome to Hawk Library System!</h1>

    <div>
    <%= link_to 'Login', login_path, class: "btn btn-primary btn-lg btn-xlarge" %>
    <%= link_to 'Sign Up', signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
    
    </div>
    
</div>

<div class="container">
  <footer class="footer">
        <bold>
            <center>
              Copyright &copy; 2016 <a href="#">CSC 620 Ruby Project</a> by
              <a href="#">Hemanth,</a>
             <a href="#">Andrew,</a>
             <a href="#">Thamer,</a>
             <a href="#">Ghazi,</a>
             </center>
        </bold>
  </footer>
</div>
  

<!--<br><%= link_to 'view credentials', displaycredentials_path %>-->