<div class="container">
  <footer class="footer">
      
      
        <small>
          Copyright &copy; 2016 <a href="#">CSC 620 Ruby Project</a>
          by <a href="#">Hemanth,</a>
             <a href="#">Andrew,</a>
             <a href="#">Thamer,</a>
             <a href="#">Ghazi,</a>
        </small>
      
      
  </footer>
  
</div>